@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;500&display=swap");
body {
  width: 100vw;
  height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#root,
.app {
  width: 100%;
  height: 100%;
}
#pomodoro {
  background-color: tomato;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  font-size: 7rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
.arrow {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4),
    inset -10px -10px 10px rgba(0, 0, 0, 0.25),
    inset 10px 10px 10px rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 10px;
  cursor: pointer;
}
.timeSetters {
  display: flex;
  flex-direction: column;
}
.timeSetter {
  display: flex;
  align-items: center;
  gap: 25px;
}
.timers {
  display: flex;
  gap: 100px;
}
strong {
  font-size: 40px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.timer {
  font-size: 70px;
  margin: 0 0 1em 0;
}

.setter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.setter h2 {
  font-weight: 300;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
button {
  font-size: 25px;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  background-color: #fff;
  border: 0;
  border-radius: 20px;
  color: tomato;
  padding: 0.5em 2em;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.popup {
  font-size: 50px;
  font-weight: 300;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
